﻿@model WebExperience.Test.Models.AssetsViewModel
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th style="width: 10%">
                @Html.DisplayNameFor(x => x.Assets.FirstOrDefault().FileName)
            </th>
            <th style="width: 10%">
                @Html.DisplayNameFor(x => x.Assets.FirstOrDefault().CreatedBy)
            </th>
            <th style="width: 10%"></th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Assets.Any())
        {
            foreach (var asset in Model.Assets)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(x => asset.FileName)
                    </td>
                    <td>
                        @Html.DisplayFor(x => asset.CreatedBy)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = asset.AssetId }) |
                        @Html.ActionLink("Details", "Details", new { id = asset.AssetId }) |
                        @Html.ActionLink("Delete", "Delete", new { id = asset.AssetId })
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
<br />

@Html.PagedListPager(Model.Assets, page => Url.Action("Index", new { page }))
